*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .jersey-10-charted-regular {
    font-family: "Jersey 10 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #titulo {
    font-family: "Jersey 10 Charted", sans-serif;
  }
  